:root {
    --primary-color: rgb(197, 45, 194);
    --box-shadow-color: rgb(125, 122, 122);
}

.Forgotpassword-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Forgotpassword-container {
    width: 100vw;
    display: flex;
}

.Forgotpassword-decorationBox {
    width: 50vw;
    height: 100vh;
}

.Forgotpassword-form {
    display: flex;
    flex-direction: column;
}

.Forgotpassword-formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    justify-content: center;
}

.Forgotpassword-head {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.Forgotpassword-second-head {
    font-weight: 500;
    font-size: small;
    margin-bottom: 10px;
}

.Forgotpassword-input-container {
    display: flex;
    flex-direction: column;
}

.Forgotpassword-label {
    color: var(--box-shadow-color);
    font-size: small;
    margin-bottom: 5px;
}

.Forgotpassword-input {
    padding: 10px;
    border-radius: 0;
    border: .5px solid var(--box-shadow-color);
    height: 35px;
    margin-bottom: 20px;
    width:  20vw;
    font-size: .8em;
    box-shadow: .1px .1px .8px .2px var(--box-shadow-color);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.Forgotpassword-input-container:focus-within .Forgotpassword-label {
    color:  var(--primary-color);
}

.Forgotpassword-input:focus {
    outline: none;
    border: none;
    border: .5px solid  var(--primary-color);
    border-radius: 0;
    box-shadow: none;
    color: var(--primary-color);
}

.Forgotpassword-button-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.Forgotpassword-button {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color:  rgb(148, 130, 146);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
} 

.Forgotpassword-button:hover {
    cursor: pointer;
}

.Forgotpassword-button-after-validation {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

.Forgotpassword-button-after-validation:hover {
    cursor: pointer;
}

.Forgotpassword-back-to-login-container {
    margin-top: 20px;
    font-size: .7em;
    color: var(--box-shadow-color);
}

.Forgotpassword-back-to-login-link {
    text-decoration: none;
}

/* responsive-design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
    .Forgotpassword-main-container{
        justify-content: center;
    }
    .Forgotpassword-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Forgotpassword-decorationBox {
        display: none;
    }
    .Forgotpassword-formBox {
        margin-top: 0;
        width: 80vw;
        padding: 0;
    }
    .Forgotpassword-head {
        font-size: 2em;
    }
    .Forgotpassword-second-head {
        font-size: 1em;
        text-align: center;
    }
    .Forgotpassword-form {
        width: 80vw;
    }
    .Forgotpassword-input-container, .Forgotpassword-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Forgotpassword-label {
        font-size: .9em;
    }
    .Forgotpassword-input {
        width: 80vw;
    }
     .Forgotpassword-button {
        width: 80vw;
    }
    .Forgotpassword-button-container {
        margin: 0 auto;
    }
}

/*Ipad -----------*/
@media only screen 
and (min-device-width : 750px)
and (max-device-width : 850px) {
    .Forgotpassword-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Forgotpassword-decorationBox {
        display: none;
    }
    img, .Image-container {
        width: 400px;
    }
    .Forgotpassword-formBox {
        margin-top: 20px;
        width: 80vw;
        padding: 0;
    }
    .Forgotpassword-head {
        font-size: 2em;
    }
    .Forgotpassword-second-head {
        font-size: 1.2em;
    }
    .Forgotpassword-form {
        width: 80vw;
    }
    .Forgotpassword-input-container, .Forgotpassword-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Forgotpassword-label {
        font-size: 1.2em;
    }
    .Forgotpassword-input {
        height: 5vh;
        width: 80vw;
        font-size: 1.2em;
    }
    .Forgotpassword-button {
        width: 80vw;
        font-size: 1.2em;
        height: 5vh;
    }
}