:root {
    --primary-color: rgb(197, 45, 194);
    --box-shadow-color: rgb(125, 122, 122);
}

.Login-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.Login-container {
    display: flex;
}

.Login-decorationBox {
    width: 27vw;
    height: 420px;
}

.Login-head {
    font-size: .9em;
    margin-bottom: 10px;
    font-weight: 600;
}

.Login-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 5px;
}

.Login-second-head {
    font-weight: 500;
    font-size: x-small;
    margin-bottom: 10px;
}

.Login-formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 420px;
    padding-top: 50px;
}

.Login-input-container {
    display: flex;
    flex-direction: column;
}

.Login-label {
    color: var(--box-shadow-color);
    font-size: x-small;
    margin-bottom: 5px;
}

.Login-input {
    padding: 10px;
    border-radius: 0;
    border: .5px solid var(--box-shadow-color);
    height: 35px;
    margin-bottom: 20px;
    width:  20vw;
    font-size: .7em;
    box-shadow: .1px .1px .8px .2px var(--box-shadow-color);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.Login-input-container {
    display: flex;
    flex-direction: column;
}

.Login-input-container:focus-within .Login-label {
    color:  var(--primary-color);
}

.Login-input:focus {
    outline: none;
    border: none;
    border: .5px solid  var(--primary-color);
    border-radius: 0;
    box-shadow: none;
    color: var(--primary-color);
}

.Login-password-options {
    display: flex;
    font-size: x-small;
    margin-top: -20px;
    width: 20vw;
}

.Login-password-remember {
    margin-right: auto;
    float: left;
}

.Login-password-switch {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.Login-password-forgot {
    margin-left: auto;
    float: right;
}

.Login-button-container {
    display: flex;
    margin: 0 auto;
}

.Login-password-forgot-link {
    text-decoration: none;
}

.Login-button {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color:  rgb(148, 130, 146);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

.Login-button-after-validation {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}