:root {
    --primary-color: rgb(197, 45, 194);
    --box-shadow-color: rgb(125, 122, 122);
}

.Login-main-container {
    display: flex;
    height: 100vh;
}

.Login-container {
    width: 100vw;
    display: flex;
}

.Login-decorationBox {
    width: 50vw;
    height: 100vh;
}

.Login-head {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.Login-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 5px;
}

.Login-second-head {
    font-weight: 500;
    font-size: small;
    margin-bottom: 10px;
}

.Login-formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    justify-content: center;
}

.Login-input-container {
    display: flex;
    flex-direction: column;
}

.Login-label {
    color: var(--box-shadow-color);
    font-size: small;
    margin-bottom: 5px;
}

.Login-input {
    padding: 10px;
    border-radius: 0;
    border: .5px solid var(--box-shadow-color);
    height: 35px;
    margin-bottom: 20px;
    width:  20vw;
    font-size: .8em;
    box-shadow: .1px .1px .8px .2px var(--box-shadow-color);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.Login-input-container {
    display: flex;
    flex-direction: column;
}

.Login-input-container:focus-within .Login-label {
    color:  var(--primary-color);
}

.Login-input:focus {
    outline: none;
    border: none;
    border: .5px solid  var(--primary-color);
    border-radius: 0;
    box-shadow: none;
    color: var(--primary-color);
}

.Login-password-options {
    display: flex;
    font-size: x-small;
    margin-top: -20px;
    width: 20vw;
}

.Login-password-remember {
    margin-right: auto;
    float: left;
}

.Login-password-switch {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.Login-password-forgot {
    margin-left: auto;
    float: right;
}

.Login-button-container {
    display: flex;
    margin: 0 auto;
}

.Login-password-forgot-link {
    text-decoration: none;
}

.Login-button {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color:  rgb(148, 130, 146);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

.Login-button-after-validation {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

/* responsive-design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
    .Login-main-container{
        justify-content: center;
    }
    .Login-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Login-decorationBox {
        display: none;
    }
    .Login-formBox {
        margin-top: 0;
        width: 80vw;
        padding: 0;
    }
    .Login-head {
        font-size: 2em;
    }
    .Login-second-head {
        font-size: 1em;
    }
    .Login-form {
        width: 80vw;
    }
    .Login-input-container, .Login-password-options, .Login-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Login-label {
        font-size: .9em;
    }
    .Login-input {
        width: 80vw;
    }
    .Login-password-options {
        display: flex;
        width: 80vw;
        justify-content: space-between;
    }
    .Login-button {
        width: 80vw;
    }
}

/*Ipad -----------*/
@media only screen 
and (min-device-width : 750px)
and (max-device-width : 850px) {
    .Login-main-container {
        width: 100vw;
        height: 100vh;
    }
    .Login-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .Login-decorationBox {
        display: none;
    }
    img, .Image-container {
        width: 400px;
    }
    .Login-formBox {
        margin-top: 20px;
        width: 80vw;
        padding: 0;
    }
    .Login-head {
        font-size: 2em;
    }
    .Login-second-head {
        font-size: 1.2em;
    }
    .Login-form {
        width: 80vw;
    }
    .Login-input-container, .Login-password-options, .Login-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Login-label {
        font-size: 1.2em;
    }
    .Login-input {
        height: 5vh;
        width: 80vw;
        font-size: 1.2em;
    }
    .Login-password-options {
        display: flex;
        width: 80vw;
        justify-content: space-between;
        font-size: 1em;
    }
    .Login-button {
        width: 80vw;
        font-size: 1.2em;
        height: 5vh;
    }
}