:root {
    --primary-color: rgb(197, 45, 194);
    --box-shadow-color: rgb(125, 122, 122);
}

.Resetpassword-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Resetpassword-container {
    width: 100vw;
    display: flex;
}

.Resetpassword-decorationBox {
    width: 50vw;
    height: 100vh;
}

.Resetpassword-textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    justify-content: center;
}

.Resetpassword-head {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.Resetpassword-second-head {
    font-weight: 500;
    font-size: small;
    margin-bottom: 10px;
}

.Resetpassword-button-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.Resetpassword-button {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color:  var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
} 

.Resetpassword-button:hover {
    cursor: pointer;
}

.Resetpassword-back-to-login-container {
    margin-top: 20px;
    font-size: .7em;
    color: var(--box-shadow-color);
}

.Resetpassword-back-to-login-link {
    text-decoration: none;
    color: white;
}

.Resetpassword-back-to-forgotpassword-link {
    margin-left: 5px;
    text-decoration: none;
}

/* responsive-design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
    .Resetpassword-main-container{
        justify-content: center;
    }
    .Resetpassword-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Resetpassword-decorationBox {
        display: none;
    }
    .Resetpassword-head {
        font-size: 2em;
        text-align: center;
    }
    .Resetpassword-second-head {
        font-size: 1em;
        text-align: center;
    }
    .Resetpassword-button {
        width: 50vw;
    }
    .Resetpassword-button-container {
        margin: 0 auto;
    }
}

/*Ipad -----------*/
@media only screen 
and (min-device-width : 750px)
and (max-device-width : 850px) {
    .Resetpassword-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Resetpassword-decorationBox {
        display: none;
    }
    img, .Image-container {
        width: 400px;
    }
    .Resetpassword-head {
        font-size: 2em;
    }
    .Resetpassword-second-head {
        font-size: 1.2em;
        text-align: center;
    }
    .Resetpassword-button {
        width: 50vw;
        font-size: 1.2em;
        height: 5vh;
    }
}