:root {
    --primary-color: rgb(197, 45, 194);
    --box-shadow-color: rgb(125, 122, 122);
}

.Signup-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.Signup-container {
    display: flex;
}

.Signup-decorationBox {
    width: 27vw;
    height: 420px;
}

.Signup-form {
    display: flex;
    flex-direction: column;
}

.Signup-formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 420px;
    padding-top: 40px;
}

.Signup-head {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.Signup-second-head {
    font-weight: 500;
    font-size: small;
    margin-bottom: 10px;
}

.Signup-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 5px;
}

.Signup-label {
    color: var(--box-shadow-color);
    font-size: small;
    margin-bottom: 5px;
}

.Signup-input {
    padding: 10px;
    border-radius: 0;
    border: .5px solid var(--box-shadow-color);
    height: 35px;
    margin-bottom: 20px;
    width:  20vw;
    font-size: .8em;
    box-shadow: .1px .1px .8px .2px var(--box-shadow-color);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.Signup-input-container {
    display: flex;
    flex-direction: column;
}

.Signup-input-container:focus-within .Signup-label {
    color:  var(--primary-color);
}

.Signup-input:focus {
    outline: none;
    border: none;
    border: .5px solid  var(--primary-color);
    border-radius: 0;
    box-shadow: none;
    color: var(--primary-color);
}


.Signup-button-container {
    display: flex;
    margin: 0 auto;
}

.Signup-button {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color:  rgb(148, 130, 146);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

.Signup-button-after-validation {
    width: 20vw;
    height: 35px;
    border-radius: 0;
    border: .5px solid;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 20px;
}

.Signup-username-warning, .Signup-email-warning, .Signup-password-warning {
    margin-top: -17px;
    font-size: 10px;
    margin-bottom: 10px;
    color: red;
    width: 20vw;
}

.Signup-password-warning {
    margin-top: 10px;
}

.Signup-password-show {
    width: fit-content;
    margin-left: 17.5vw;
    margin-top: -49px;
}

/* responsive-design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
    .Signup-main-container{
        justify-content: center;
    }
    .Signup-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Signup-decorationBox {
        display: none;
    }
    .Signup-formBox {
        margin-top: 0;
        width: 80vw;
        padding: 0;
    }
    .Signup-head {
        font-size: 2em;
    }
    .Signup-second-head {
        font-size: 1em;
    }
    .Signup-form {
        width: 80vw;
    }
    .Signup-input-container, .Signup-password-options, .Signup-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Signup-label {
        font-size: .9em;
    }
    .Signup-input {
        width: 80vw;
    }
    .Signup-password-options {
        display: flex;
        width: 80vw;
        justify-content: space-between;
    }
    .Signup-password-show {
        margin-left: 250px;
    }
    .Signup-password-warning, .Signup-username-warning {
        width: 80vw;
    }
    .Signup-button {
        width: 80vw;
    }
}

/*Ipad -----------*/
@media only screen 
and (min-device-width : 750px)
and (max-device-width : 850px) {
    .Signup-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .Signup-decorationBox {
        margin-top: 30vh;
        width: 400px;
    }
    img, .Image-container {
        width: 400px;
    }
    .Signup-formBox {
        margin-top: 20px;
        width: 80vw;
        padding: 0;
    }
    .Signup-head {
        font-size: 2em;
    }
    .Signup-second-head {
        font-size: 1.2em;
    }
    .Signup-form {
        width: 80vw;
    }
    .Signup-input-container, .Signup-password-options, .Signup-button-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .Signup-label {
        font-size: 1.2em;
    }
    .Signup-input {
        height: 5vh;
        width: 80vw;
        font-size: 1.2em;
    }
    .Signup-password-options {
        display: flex;
        width: 80vw;
        justify-content: space-between;
        font-size: 1em;
    }
    .Signup-button {
        width: 80vw;
        font-size: 1.2em;
        height: 5vh;
    }
}